.containerr {
background: #b39edc;
    height: 100%;
}

#fh5co-header {
    position: absolute;
    z-index: 99;
    width: 100%;
    opacity: 1;
    top: 0;
    margin-top: 20px;
}

#fh5co-header .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
}

#fh5co-header #navbar li a {
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}
#fh5co-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#fh5co-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b39edc;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#fh5co-header #navbar li a:hover {
  color: #fff;
}
#fh5co-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#fh5co-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#fh5co-header #navbar li a span:before {
    background-color: #fff;
}
#fh5co-header{
  position: fixed !important;
}
#fh5co-header .navbar-brand {
  color: #fff;
}

#fh5co-header #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-header #navbar li a:hover {
  color: #fff;
}
#fh5co-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#fh5co-header #navbar li.active a span:before {
    color: #fff;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

#fh5co-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#fh5co-header .navbar-default .brand-slogan em {
  color: #b39edc;
  font-style: normal;
}
#fh5co-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.babyback{
    z-index: 1;
    position: absolute;
    width: 112%;
    opacity: 0.5;
    margin-left: -5%;
}

a, button {
	color: #553445;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #e75854;
}

section {
    color: white;
	padding: 2em;
	text-align: justify;
	max-width: 900px;
	margin: 0 auto;
	clear: both;
}

section .cont{
    text-align: center;
    
}

section .cont .title{
    margin-top: 25%;
    margin-bottom: 1px;
}

section p {
	font-size: 2em;
	line-height: 1.75;
}

section > p:first-child {
	text-align: center;
}

section.related {
	text-align: center;
}

.related p {
	font-weight: 700;
}

.related > a {
	border: 2px solid #faf1e0;
	color: #faf1e0;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 20px;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
	color: rgba(0,0,0,0.2);
	border-color: rgba(0,0,0,0.2);
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	text-align: left;
	font-family: "Roboto Condensed", sans-serif;
}

.mockup-content {
	text-align: center;
}

.mockup-content > span {
	display: block;
	background: rgba(0,0,0,0.1);
	height: 50px;
	width: 100%;
	margin: 0 0 10px;
	clear: both;
}

.mockup-content > span:nth-child(2),
.mockup-content > span:nth-child(3),
.mockup-content > span:nth-last-child(2) {
	width: calc(50% - 5px);
	float: left;
	clear: none;
	height: 80px;
}

.mockup-content > span:nth-child(3),
.mockup-content > span:nth-last-child(2) {
	float: right;
}

.mockup-content > span:nth-last-child(2) {
	width: calc(100% - 310px);
}

.no-js .mockup-content > span:nth-last-child(2) {
	width: 100%;
}

.mockup-content h2 {
	font-size: 2em;
	margin: 0;
}

.mockup-content > p {
	font-family: 'Blokk', sans-serif;
	font-size: 0.85em;
	text-align: center;
	opacity: 0.5;
	margin: 0;
	overflow: hidden;
}

.js .fixed-block {
	min-height: 300px;
	position: relative;
}

.mockup-left {
	float: left;
	max-width: 100%;
	overflow: hidden;
	width: 300px;
	margin: 0 40px 50px 0;
	background: rgba(0,0,0,0.1);
	height: 400px;
	position: relative;
}

.mockup-left::after {
	content:'\2234';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(0,0,0,0.05);
	font-size: 15em;
}

.mockup-right {
	text-align: left;
}

.pushed.container {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
}