/*custom font*/
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700');


/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG pellback*/
	
	/*background = gradient + image pattern combo*/
}

body {
    color: #555;
	font-family: 'Cuprum', sans-serif;
    overflow-x: hidden;
}
/*form styles*/
#msform {
	width: 600px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 35px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 35px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 150px;
	background: orange;
	font-weight: bold;
	color: white;
	border: 0 none;
    font-size: 16px;
	border-radius: 35px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px orange;
}
/*headings*/
.fs-title {
	font-size: 20px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 20px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 0px;
	color: #333;
	background: white;
	border-radius: 35px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before{
	background: orange;
	color: white;
}

#connector12{
    width: 0%;
    height: 2px;
    background: orange;
	position: absolute;
	left: 15%;
	top: 9px;
}
#connector23{
    width: 0%;
    height: 2px;
    background: orange;
	position: absolute;
	left: 49%;
	top: 9px;
}

#back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -100;
}
#sidemenu{
    z-index: 9999;
    width: 6%;
    height: 100%;
    position: fixed;
    background-color: #334D5C;
    text-align: center;
    vertical-align: middle;
}
#sidemenu li{
    list-style-type: none;
    font-size: 50px;
    color: white;
    width: 100px;
    height: 100px;
    display:table-row;
}

#snav {
    top: 0;
  position: fixed;
  z-index: 9999;
  font-size: 18px;
}

#snav ul { list-style: none; }

#snav * {
  margin: 0;
  padding: 0;
  outline: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#snav li a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

#snav .pe {
  vertical-align: middle;
  font-size: 40px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: relative;
  z-index: 4;
}

#snav li span {
  font-size: 20px;
  vertical-align: middle;
  height: 80px;
  line-height: 80px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0 80px;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 3;
}


#snav li a:hover span { visibility: visible; }

#snav li span { background-color: #555; }

/* icons color and background before hover  */

#snav li .pe {
  background-color: #EEE;
  color: #555
}

/* icons hover color */

#snav li a:hover .pe { color: #fff; }

/* repeated colors from 1 to 10 each hover color repeated after 10 menu items */

#snav li:nth-child(5n+1) span,
#snav li:nth-child(5n+1) a:hover .pe { background-color: #334D5C; }

#snav li:nth-child(5n+2) span,
#snav li:nth-child(5n+2) a:hover .pe { background-color: #45B29D; }

#snav li:nth-child(5n+3) span,
#snav li:nth-child(5n+3) a:hover .pe { background-color: #EFC94C; }

#snav li:nth-child(5n+4) span,
#snav li:nth-child(5n+4) a:hover .pe { background-color: #E27A3F; }

#snav li:nth-child(5n+5) span,
#snav li:nth-child(5n+5) a:hover .pe { background-color: #DF5A49; }

#snav.en {
  left: 0;
  text-align: left;
}

#snav.en li span { left: -200px; }

#snav.en li a:hover span { left: 50px; }

#upl-img{
    z-index: 999;
    width: 200px;
    position: relative;
    height: 200px;
    margin-left: 4%;
    margin-top: 20px;
}

.container{
    padding-bottom: 50px;
    margin-top: 80px;
    background-color: #fefefe;
    margin-left: 5%;
    width: 100%;
}

.container h2{
    width: 100%;
    margin-left: -6%;
    margin-top: 40px;
    padding-left: 10%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.add-btn{
    margin-top: 20px;
    margin-bottom: 5px;
    border: none;
    color: white;
    background-color: #2ea879;
    border-radius: 35px;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
}

.popover-inp{
    margin-bottom: 5px;
    padding: 10px;
	border: 1px solid #ddd;
	border-radius: 35px;
	width: 100%;
	color: #2C3E50;
	font-size: 14px;
}
.popover-btn{
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    color: white;
    border: none;
}
.btn-add{;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    width: 50%;
    background-color: #96CA2D;
}

.btn-cancel{
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    background-color: #d75d5f;
}

.popover{
    width: 300px;
}

.component {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
}
.component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #d3d3d3;
}
table {
    border-radius: 20px;
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 60%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
	td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}

/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #666;
			color: #eee;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}

#left-block{
    width: 20%;
}
#right-block{
    margin-top: -200px;
    margin-left: 20%;
    width: 80%;
}

#code-input{
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 15px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	width: 20%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
#code-btn{
    z-index: 20;
    padding: 14.5px;
    border: none;
	border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-bottom: 10px;
    background-color: orange;
	color: white;
	font-size: 16px;
}

body {
  font: 13px/20px 'Cuprum', sans-serif;
  color: #404040;
  background: #596778;
}

.sign-up {
  position: relative;
  margin: 50px auto;
  width: 280px;
  padding: 33px 25px 29px;
  background: white;
  border-radius: 15px;
}
.sign-up:after {
  bottom: 3px;
  border-color: #dcdcdc;
}

.sign-up-title {
  margin: -25px -25px 25px;
  padding: 15px 25px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 300;
  color: #aaa;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background: #f7f7f7;
}
.sign-up-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #c4e17f;
  border-radius: 35px 35px 0 0;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

input {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sign-up-input {
  font: 13px/20px 'Helvetica', sans-serif;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 35px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}
.sign-up-input:focus {
  border-color: #62c2e4;
  outline: none;
  -webkit-box-shadow: inset 0 -2px #62c2e4;
  box-shadow: inset 0 -2px #62c2e4;
}
.lt-ie9 .sign-up-input {
  line-height: 48px;
}

.sign-up-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 54px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f0776c;
  border: 0;
  border-bottom: 2px solid #d76b60;
  border-radius: 35px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #d76b60;
  box-shadow: inset 0 -2px #d76b60;
}
.sign-up-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

:-moz-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

img{
    position: absolute;
    height: 100%;
    top:0;
    width: 100%;
}

