.pagination {
    margin-top: 60px;
    position: relative;
    display: block;
    color: #ffffff;
    padding: 0;
    display: inline-block;
    border-radius: 6px;
    word-spacing: -0.5px;
}

.pagination li {
    background: #d6dbdf;
    border-radius: 50%;
    display: inline-block;
    margin-right: -1px;
    vertical-align: middle;
    word-spacing: normal;
}

.pagination li a {
    border-radius: 50%;
    position: static;
}

.pagination li.active>a,
.pagination li.active>span {
    background-color: #b39edc;
    color: #ffffff;
    border-color: #dfe2e5;
}

.pagination li.active>a,
.pagination li.active>span,
.pagination li.active>a:hover,
.pagination li.active>span:hover,
.pagination li.active>a:focus,
.pagination li.active>span:focus {
    background-color: #b39edc;
    color: #ffffff;
    border-color: #dfe2e5;
}

.pagination li.active.previous>a,
.pagination li.active.next>a,
.pagination li.active.previous>span,
.pagination li.active.next>span {
    margin: 0;
}

.pagination li.active.previous>a,
.pagination li.active.next>a,
.pagination li.active.previous>span,
.pagination li.active.next>span,
.pagination li.active.previous>a:hover,
.pagination li.active.next>a:hover,
.pagination li.active.previous>span:hover,
.pagination li.active.next>span:hover,
.pagination li.active.previous>a:focus,
.pagination li.active.next>a:focus,
.pagination li.active.previous>span:focus,
.pagination li.active.next>span:focus {
    background-color: #b39edc;
    color: #ffffff;
}

.pagination li:first-child>a,
.pagination li:first-child>span {
    background: #d6dbdf;
    border-radius: 6px 0 0 6px;
    border-left: none;
}

.pagination li:first-child.previous+li>a,
.pagination li:first-child.previous+li>span {
    border-left-width: 0;
}

.pagination li:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.pagination li:first-child {
    margin-right: 10px;
}

.pagination li:last-child>a,
.pagination li:last-child>span,
.pagination li:last-child>a:hover,
.pagination li:last-child>span:hover,
.pagination li:last-child>a:focus,
.pagination li:last-child>span:focus {
    border-radius: 0 6px 6px 0;
}

.pagination li.previous>a,
.pagination li.next>a,
.pagination li.previous>span,
.pagination li.next>span {
    background: #d6dbdf;
    border-right: 2px solid #e4e7ea;
    font-size: 16px;
    min-width: auto;
    padding: 12px 17px;
    background-color: transparent;
}

.pagination li.next>a,
.pagination li.next>span {
    background: #d6dbdf;
    border-right: none;
}

.pagination li.previous>a,
.pagination li.previous>span {
    background: #d6dbdf;
}

.pagination li.disabled>a,
.pagination li.disabled>span {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    border-right-color: #dfe2e5;
    cursor: not-allowed;
}

.pagination li.disabled>a:hover,
.pagination li.disabled>span:hover,
.pagination li.disabled>a:focus,
.pagination li.disabled>span:focus,
.pagination li.disabled>a:active,
.pagination li.disabled>span:active {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
}

.pagination li>a,
.pagination li>span {
    display: inline-block;
    background: transparent;
    border: none;
    border-left: 2px solid #e4e7ea;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    min-height: 41px;
    min-width: 41px;
    outline: none;
    padding: 12px 10px;
    text-align: center;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}

.pagination li>a:hover,
.pagination li>span:hover,
.pagination li>a:focus,
.pagination li>span:focus {
    background-color: #b39edc;
    color: #ffffff;
}

.pagination li>a:active,
.pagination li>span:active {
    background-color: #b39edc;
    color: #ffffff;
}

.pagination>.btn.previous,
.pagination>.btn.next {
    margin-right: 8px;
    font-size: 14px;
    line-height: 1.429;
    padding-left: 23px;
    padding-right: 23px;
}

.pagination>.btn.previous [class*="fui-"],
.pagination>.btn.next [class*="fui-"] {
    font-size: 16px;
    margin-left: -2px;
    margin-top: -2px;
}

.pagination>.btn.next {
    margin-left: 8px;
    margin-right: 0;
}

.pagination>.btn.next [class*="fui-"] {
    margin-right: -2px;
    margin-left: 4px;
}

.pagination-danger {
    background-color: #e74c3c;
}

.pagination-danger li.previous>a {
    border-right-color: #ef897e;
}

.pagination-danger li>a,
.pagination-danger li>span {
    border-left-color: #ef897e;
}

.pagination-danger li>a:hover,
.pagination-danger li>span:hover,
.pagination-danger li>a:focus,
.pagination-danger li>span:focus {
    border-left-color: #ef897e;
    background-color: #ec7063;
}

.pagination-danger li>a:active,
.pagination-danger li>span:active {
    background-color: #c44133;
}

.pagination-danger li.active>a,
.pagination-danger li.active>span {
    border-left-color: #ef897e;
    background-color: #c44133;
}

.pagination-danger li.active>a:hover,
.pagination-danger li.active>span:hover,
.pagination-danger li.active>a:focus,
.pagination-danger li.active>span:focus {
    border-left-color: #ef897e;
    background-color: #ec7063;
}

.pagination-success {
    background-color: #2ecc71;
}

.pagination-success li.previous>a {
    border-right-color: #75dda1;
}

.pagination-success li>a,
.pagination-success li>span {
    border-left-color: #75dda1;
}

.pagination-success li>a:hover,
.pagination-success li>span:hover,
.pagination-success li>a:focus,
.pagination-success li>span:focus {
    border-left-color: #75dda1;
    background-color: #58d68d;
}

.pagination-success li>a:active,
.pagination-success li>span:active {
    background-color: #27ad60;
}

.pagination-success li.active>a,
.pagination-success li.active>span {
    border-left-color: #75dda1;
    background-color: #27ad60;
}

.pagination-success li.active>a:hover,
.pagination-success li.active>span:hover,
.pagination-success li.active>a:focus,
.pagination-success li.active>span:focus {
    border-left-color: #75dda1;
    background-color: #58d68d;
}

.pagination-warning {
    background-color: #f1c40f;
}

.pagination-warning li.previous>a {
    border-right-color: #f6d861;
}

.pagination-warning li>a,
.pagination-warning li>span {
    border-left-color: #f6d861;
}

.pagination-warning li>a:hover,
.pagination-warning li>span:hover,
.pagination-warning li>a:focus,
.pagination-warning li>span:focus {
    border-left-color: #f6d861;
    background-color: #f4d313;
}

.pagination-warning li>a:active,
.pagination-warning li>span:active {
    background-color: #cda70d;
}

.pagination-warning li.active>a,
.pagination-warning li.active>span {
    border-left-color: #f6d861;
    background-color: #cda70d;
}

.pagination-warning li.active>a:hover,
.pagination-warning li.active>span:hover,
.pagination-warning li.active>a:focus,
.pagination-warning li.active>span:focus {
    border-left-color: #f6d861;
    background-color: #f4d313;
}

.pagination-info {
    background-color: #3498db;
}

.pagination-info li.previous>a {
    border-right-color: #79bbe7;
}

.pagination-info li>a,
.pagination-info li>span {
    border-left-color: #79bbe7;
}

.pagination-info li>a:hover,
.pagination-info li>span:hover,
.pagination-info li>a:focus,
.pagination-info li>span:focus {
    border-left-color: #79bbe7;
    background-color: #5dade2;
}

.pagination-info li>a:active,
.pagination-info li>span:active {
    background-color: #2c81ba;
}

.pagination-info li.active>a,
.pagination-info li.active>span {
    border-left-color: #79bbe7;
    background-color: #2c81ba;
}

.pagination-info li.active>a:hover,
.pagination-info li.active>span:hover,
.pagination-info li.active>a:focus,
.pagination-info li.active>span:focus {
    border-left-color: #79bbe7;
    background-color: #5dade2;
}

.pagination-inverse {
    background-color: #34495e;
}

.pagination-inverse li.previous>a {
    border-right-color: #798795;
}

.pagination-inverse li>a,
.pagination-inverse li>span {
    border-left-color: #798795;
}

.pagination-inverse li>a:hover,
.pagination-inverse li>span:hover,
.pagination-inverse li>a:focus,
.pagination-inverse li>span:focus {
    border-left-color: #798795;
    background-color: #415b76;
}

.pagination-inverse li>a:active,
.pagination-inverse li>span:active {
    background-color: #2c3e50;
}

.pagination-inverse li.active>a,
.pagination-inverse li.active>span {
    border-left-color: #798795;
    background-color: #2c3e50;
}

.pagination-inverse li.active>a:hover,
.pagination-inverse li.active>span:hover,
.pagination-inverse li.active>a:focus,
.pagination-inverse li.active>span:focus {
    border-left-color: #798795;
    background-color: #415b76;
}

.pagination-minimal>li:first-child {
    border-radius: 6px 0 0 6px;
}

.pagination-minimal>li:first-child.previous+li>a,
.pagination-minimal>li:first-child.previous+li>span {
    border-left-width: 5px;
}

.pagination-minimal>li:last-child {
    border-radius: 0 6px 6px 0;
}

.pagination-minimal>li.previous>a,
.pagination-minimal>li.next>a,
.pagination-minimal>li.previous>span,
.pagination-minimal>li.next>span {
    background: transparent;
    border: none;
    border-right: 2px solid #e4e7ea;
    margin: 0 9px 0 0;
    padding: 12px 17px;
    border-radius: 6px 0 0 6px;
}

.pagination-minimal>li.previous>a,
.pagination-minimal>li.next>a,
.pagination-minimal>li.previous>span,
.pagination-minimal>li.next>span,
.pagination-minimal>li.previous>a:hover,
.pagination-minimal>li.next>a:hover,
.pagination-minimal>li.previous>span:hover,
.pagination-minimal>li.next>span:hover,
.pagination-minimal>li.previous>a:focus,
.pagination-minimal>li.next>a:focus,
.pagination-minimal>li.previous>span:focus,
.pagination-minimal>li.next>span:focus {
    border-color: #e4e7ea !important;
}

.pagination-minimal>li.next {
    margin-left: 9px;
}

.pagination-minimal>li.next>a,
.pagination-minimal>li.next>span {
    border-left: 2px solid #e4e7ea;
    border-right: none;
    margin: 0;
    border-radius: 0 6px 6px 0;
}

.pagination-minimal>li.active>a,
.pagination-minimal>li.active>span {
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 2px !important;
    color: #d6dbdf;
    margin: 10px 5px 9px;
}

.pagination-minimal>li.active>a:hover,
.pagination-minimal>li.active>span:hover,
.pagination-minimal>li.active>a:focus,
.pagination-minimal>li.active>span:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #d6dbdf;
}

.pagination-minimal>li.active.previous,
.pagination-minimal>li.active.next {
    border-color: #e4e7ea;
}

.pagination-minimal>li.active.previous {
    margin-right: 6px;
}

.pagination-minimal>li>a,
.pagination-minimal>li>span {
    background: #ffffff;
    border: 5px solid #d6dbdf;
    color: #ffffff;
    line-height: 16px;
    margin: 7px 2px 6px;
    min-width: 0;
    min-height: 16px;
    padding: 0 4px;
    border-radius: 50px;
    background-clip: padding-box;
    -webkit-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
    transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
}

.pagination-minimal>li>a:hover,
.pagination-minimal>li>span:hover,
.pagination-minimal>li>a:focus,
.pagination-minimal>li>span:focus {
    background-color: #1abc9c;
    border-color: #1abc9c;
    color: #ffffff;
    -webkit-transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
    transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
}

.pagination-minimal>li>a:active,
.pagination-minimal>li>span:active {
    background-color: #16a085;
    border-color: #16a085;
}

.pagination-plain {
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
    height: 57px;
}

.pagination-plain>li {
    display: inline;
}

.pagination-plain>li.previous {
    padding-right: 23px;
}

.pagination-plain>li.next {
    padding-left: 20px;
}

.pagination-plain>li.active>a {
    color: #d3d7da;
}

.pagination-plain>li>a {
    padding: 0 5px;
}

.pagination-dropdown ul {
    min-width: 67px;
    width: auto;
    left: 50%;
    margin-left: -34px;
}

.pagination-dropdown ul li {
    display: block;
    margin-right: 0;
}

.pagination-dropdown ul li:first-child>a,
.pagination-dropdown ul li:first-child>span {
    border-radius: 6px 6px 0 0;
}

.pagination-dropdown ul li:last-child>a,
.pagination-dropdown ul li:last-child>span {
    border-radius: 0 0 6px 6px !important;
}

.pagination-dropdown ul li>a,
.pagination-dropdown ul li>span {
    border-left: none;
    display: block;
    float: none;
    padding: 8px 10px 7px;
    text-align: center;
    min-height: 0;
}

.pagination-dropdown.dropup {
    position: relative;
}
