.babyback {
    position: absolute;
    right: 0;
    top: 100px;
    width: 110%;
    left: -50px;
}

#fh5co-press .row {
    margin-top: 50px;
}

.section-heading-main h2 {
    font-size: 50px;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0px;
    line-height: 1.5;
}

#fh5co-press .section-heading h2:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background: #b39edc;
    left: 5%;
    bottom: 0;
    top: -5px;
}

#fh5co-press .child-photo {
    clip-path: circle(at center);
    width: 100%;
}

#fh5co-press .child-photo-div {
    margin-left: -150px;
}

#fh5co-press .subtext {
    margin-top: -20px;
    width: 170%;
    margin-left: -35%;
}

#fh5co-wishes .carousel {
    background: #fee082;
    #b39edc;
}

.carousel {
    margin-bottom: 0;
    padding: 0px 40px 50px 40px;
}

.carousel-control {
    left: -12px;
}

.carousel-control.right {
    right: -12px;
}

.carousel-indicators {
    right: 50%;
    padding-bottom: 10px;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

.carousel-indicators li {
    margin-bottom: background: white;
}

.carousel-indicators .active {
    background: #b39edc;
}

.carousel-inner img {
    clip-path: circle(at center);
}

.section-heading h2 {
    padding-bottom: 0px;
    color: white;
    margin-bottom: 0;
}

.section-heading h2:before {
    color: white;
    margin-bottom: 0;
}

.section-heading {
    margin-bottom: 0;
}

.carousel-inner {
    width: 90%;
    margin-left: 5%;
}

.carousel-control {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #b39edc;
    margin-top: 210px;
}

.item .section-heading h2 {
    font-size: 30px;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0px;
    margin-top: -20px;
}

.item .section-heading h2:before {
    height: 0px;
}

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    margin-top: -20px;
    width: 260px;
    height: 260px;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

.urgently {
    position: absolute;
    z-index: 80;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 2px 20px;
    top: 1px;
}

.child-info {
    text-transform: uppercase;
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 1.5px;
}

.modal-content {
    border-radius: 15px;
    background-color: #f4f4f4;
}

.wish-img {
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(http://www.laughspark.info/uploadfiles/cute-cat-image-like-gift-635732906624887446-13821.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2px;
    border: 3px dashed #b39edc;
    ;
}

.modal-title {
    color: white;
    font-size: 20px
}

.modal-content .container {
    width: 100%;
}

.modal-content .row {
    padding-left: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    width: 100%;
}

.wish-info {
    text-align: left;
}

.wish-info h2 {
    font-size: 40px;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0px;
    line-height: 1.5;
}

.wish-info h2:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background: #b39edc;
    left: 0%;
    bottom: 0;
}

.wish-info p {
    margin-top: -30px;
}

.wish-info #from {
    margin-top: 20px;
}

.btn-book {
    width: 100%;
}

.input-id{
    margin-left: -20px;
    width: 140%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0 20px 2px;
    font-size: 16px;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 20px;
    margin-top: 20px;
    -webkit-box-shadow: inset 0 -2px #ebebeb;
    box-shadow: inset 0 -2px #ebebeb;
    color: #888;
}

input:focus, select:focus{
    	border-color: #62c2e4;
    color: #62c2e4;
  outline: none;
  -webkit-box-shadow: inset 0 -2px #62c2e4;
  box-shadow: inset 0 -2px #62c2e4;
}

::-webkit-input-placeholder {
  color: #ccc !important;
}
::-moz-placeholder { 
  color: #ccc !important;
}
:-ms-input-placeholder {
  color: #ccc !important;
}
:-moz-placeholder {
  color: #ccc !important;
}


button.icobutton{
    filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

ol{
    margin-top: 20px;
    list-style: none;
}

.grid__item{
    margin-left: -40px;
}

.can-toggle {
    margin-left: 65px;
    margin-top: 25px;
  position: relative;
    border-radius: 20px;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
    border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.can-toggle label .can-toggle__label-text {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
    border-radius: 20px;
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #777;
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #5e5e5e;
}
.can-toggle input[type="checkbox"]:hover ~ label {
  color: #6a6a6a;
}
.can-toggle input[type="checkbox"]:checked ~ label:hover {
  color: #55bc49;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #70c767;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #4fb743;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #5fc054;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #47a43d;
}
.can-toggle label .can-toggle__label-text {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.can-toggle label .can-toggle__switch {
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
          transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #848484;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(95px, 0, 0);
          transform: translate3d(95px, 0, 0);
}
.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
    border-radius: 20px;
  height: 36px;
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  border-radius: 20px;
}
.can-toggle label .can-toggle__switch:before {
    border-radius: 20px;
      left: 95px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 13px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 20px;
  width: 100px;
  line-height: 32px;
  font-size: 12px;
}

.can-toggle.can-toggle--size-small input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(44px, 0, 0);
          transform: translate3d(44px, 0, 0);
}
.can-toggle.can-toggle--size-small label {
  font-size: 13px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch {
  height: 28px;
  -webkit-flex: 0 0 90px;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  border-radius: 2px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:before {
  left: 45px;
  font-size: 10px;
  line-height: 28px;
  width: 45px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:after {
  top: 1px;
  left: 1px;
  border-radius: 1px;
  width: 44px;
  line-height: 26px;
  font-size: 10px;
}
.can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(78px, 0, 0);
          transform: translate3d(78px, 0, 0);
}
.can-toggle.can-toggle--size-large label {
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch {
  height: 50px;
  -webkit-flex: 0 0 160px;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  border-radius: 4px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:before {
  left: 80px;
  font-size: 14px;
  line-height: 50px;
  width: 80px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 78px;
  line-height: 46px;
  font-size: 14px;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #d76b60;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #d76b60;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label {
  color: #d76b60;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label:hover {
  color: #b39edc;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #b39edc;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #b39edc;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #b39edc;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #b39edc;
}
.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  -webkit-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
  background: #d76b60;
    border-radius: 20px;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
    
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  color: #d76b60;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #444;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #2b2b2b;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label {
  color: #373737;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label:hover {
  color: #62b125;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #75d32d;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #5da924;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #69be28;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #52941f;
}
.can-toggle.demo-rebrand-2 label .can-toggle__label-text {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  -webkit-transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
          transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  background: #515151;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.7);
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #444;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(58px, 0, 0);
          transform: translate3d(58px, 0, 0);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.demo-rebrand-2 label {
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  height: 60px;
  -webkit-flex: 0 0 120px;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  border-radius: 60px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  left: 60px;
  font-size: 13px;
  line-height: 60px;
  width: 60px;
  padding: 0 12px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 30px;
  width: 58px;
  line-height: 56px;
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.subtext-gift{
    margin-top: 10px;
    width: 200px;
    position: relative;
    display: block;
    background: white;
    padding: 5px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

svg{
    position: relative;
    z-index: 500;
    
}


.btn-primary i{
    margin-right: 10px;
}

.edit-btn{
    margin-top: 20px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

label {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 12px !important;
    font-size: 1em;
	display: block;
    margin-bottom: -5px;
    margin-top: 5px;
	padding: 10px 0 0 10px;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

.sr label{
    margin-top: -39px;
    margin-left: 50px;
    font-size: 16px !important;
}